/**
 * @name Outline Dark Emojis
 * @author asportnoy#6969 && GreenMan36
 * @authorLink https://github.com/asportnoy
 * @version 17.12.23a
 * @description A small snippet that makes dark emojis have a outline for visibility. ALL credits to @asportnoy#6969. I, GreenMan36#0633 made small edits and additions to the snippet.
*/

:root {
  --outline-dark-emojis: var(--outline-de-3); /* range is 0-9, or set a custom css filter.*/
}

:root {
  --outline-de-0: drop-shadow(0px 0px 0.5px white) drop-shadow(0px 0px 1px grey);
  --outline-de-1: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 0.5px grey);
  --outline-de-2: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px grey);
  --outline-de-3: drop-shadow(0px 0px 1.5px white) drop-shadow(0px 0px 0.5px grey);
  --outline-de-4: drop-shadow(0px 0px 1.5px white) drop-shadow(0px 0px 1.5px grey);
  --outline-de-5: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 1px grey);
  --outline-de-6: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 1.5px grey);
  --outline-de-7: drop-shadow(0px 0px 2.5px white) drop-shadow(0px 0px 1.5px grey);
  --outline-de-8: drop-shadow(0px 0px 2.5px white) drop-shadow(0px 0px 2px grey);
  --outline-de-9: drop-shadow(0px 0px 3px white) drop-shadow(0px 0px 1.5px grey);
}

/* fixes glow cutoff at message edges, looks weird */
div[class*="messageContent__"]:has(span[class*="emojiContainer__"]) {
  overflow: visible;
}

/* [data-name=":in-messages:"], [aria-label^="in-reactions"] img, button[data-name="in-picker"], */

/* next line is needed, else prettier will make this way longer than required  */
/* prettier-ignore*/
button:is([data-name=tm], [data-name=copyright], [data-name=registered]), 
[data-name=":spider:"], [aria-label^="spider"] img, button[data-name="spider"], img[alt=":spider:"],
[data-name=":pen_ballpoint:"], [aria-label^="pen_ballpoint"] img, button[data-name="pen_ballpoint"], img[alt=":pen_ballpoint:"],
[data-name=":file_cabinet:"], [aria-label^="file_cabinet"] img, button[data-name="file_cabinet"], img[alt=":file_cabinet:"],
[data-name=":notebook:"], [aria-label^="notebook"] img, button[data-name="notebook"], img[alt=":notebook:"],
[data-name=":magic_wand:"], [aria-label^="magic_wand"] img, button[data-name="magic_wand"], img[alt=":magic_wand:"],
[data-name=":hole:"], [aria-label^="hole"] img, button[data-name="hole"], img[alt=":hole:"],
[data-name=":watch:"], [aria-label^="watch"] img, button[data-name="watch"], img[alt=":watch:"],
[data-name=":mobile_phone:"], [aria-label^="mobile_phone"] img, button[data-name="mobile_phone"], img[alt=":mobile_phone:"],
[data-name=":calling:"], [aria-label^="calling"] img, button[data-name="calling"], img[alt=":calling:"],
[data-name=":wheel:"], [aria-label^="wheel"] img, button[data-name="wheel"], img[alt=":wheel:"],
[data-name=":bike:"], [aria-label^="bike"] img, button[data-name="bike"], img[alt=":bike:"],
[data-name=":manual_wheelchair:"], [aria-label^="manual_wheelchair"] img, button[data-name="manual_wheelchair"], img[alt=":manual_wheelchair:"],
[data-name=":headphones:"], [aria-label^="headphones"] img, button[data-name="headphones"], img[alt=":headphones:"],
[data-name=":microphone:"], [aria-label^="microphone"] img, button[data-name="microphone"], img[alt=":microphone:"],
[data-name=":soccer:"], [aria-label^="soccer"] img, button[data-name="soccer"], img[alt=":soccer:"],
[data-name=":8ball:"], [aria-label^="8ball"] img, button[data-name="8ball"], img[alt=":8ball:"],
[data-name=":gorilla:"], [aria-label^="gorilla"] img, button[data-name="gorilla"], img[alt=":gorilla:"],
[data-name=":lady_beetle:"], [aria-label^="lady_beetle"] img, button[data-name="lady_beetle"], img[alt=":lady_beetle:"],
[data-name=":fly:"], [aria-label^="fly"] img, button[data-name="fly"], img[alt=":fly:"],
[data-name=":mosquito:"], [aria-label^="mosquito"] img, button[data-name="mosquito"], img[alt=":mosquito:"],
[data-name=":bee:"], [aria-label^="bee"] img, button[data-name="bee"], img[alt=":bee:"],
[data-name=":eyeglasses:"], [aria-label^="eyeglasses"] img, button[data-name="eyeglasses"], img[alt=":eyeglasses:"],
[data-name=":kaaba:"], [aria-label^="kaaba"] img, button[data-name="kaaba"], img[alt=":kaaba:"],
[data-name=":checkered_flag:"], [aria-label^="checkered_flag"] img, button[data-name="checkered_flag"], img[alt=":checkered_flag:"],
[data-name=":man_dancing:"], [aria-label^="man_dancing"] img, button[data-name="man_dancing"], img[alt=":man_dancing:"],
[data-name=":people_with_bunny_ears_partying:"], [aria-label^="people_with_bunny_ears_partying"] img, button[data-name="people_with_bunny_ears_partying"], img[alt=":people_with_bunny_ears_partying:"],
[data-name=":women_with_bunny_ears_partying:"], [aria-label^="women_with_bunny_ears_partying"] img, button[data-name="women_with_bunny_ears_partying"], img[alt=":women_with_bunny_ears_partying:"],
[data-name=":student:"], [aria-label^="student"] img, button[data-name="student"], img[alt=":student:"],
[data-name=":man_student:"], [aria-label^="man_student"] img, button[data-name="man_student"], img[alt=":man_student:"],
[data-name=":woman_student:"], [aria-label^="woman_student"] img, button[data-name="woman_student"], img[alt=":woman_student:"],
[data-name=":guard:"], [aria-label^="guard"] img, button[data-name="guard"], img[alt=":guard:"],
[data-name=":man_guard:"], [aria-label^="man_guard"] img, button[data-name="man_guard"], img[alt=":man_guard:"],
[data-name=":woman_guard:"], [aria-label^="woman_guard"] img, button[data-name="woman_guard"], img[alt=":woman_guard:"],
[data-name=":pirate_flag:"], [aria-label^="pirate_flag"] img, button[data-name="pirate_flag"], img[alt=":pirate_flag:"],
[data-name=":heavy_plus_sign:"], [aria-label^="heavy_plus_sign"] img, button[data-name="heavy_plus_sign"], img[alt=":heavy_plus_sign:"],
[data-name=":heavy_minus_sign:"], [aria-label^="heavy_minus_sign"] img, button[data-name="heavy_minus_sign"], img[alt=":heavy_minus_sign:"],
[data-name=":ant:"], [aria-label^="ant"] img, button[data-name="ant"], img[alt=":ant:"],
[data-name=":black_cat:"], [aria-label^="black_cat"] img, button[data-name="black_cat"], img[alt=":black_cat:"],
[data-name=":telephone_receiver:"], [aria-label^="telephone_receiver"] img, button[data-name="telephone_receiver"], img[alt=":telephone_receiver:"],
[data-name=":video_camera:"], [aria-label^="video_camera"] img, button[data-name="video_camera"], img[alt=":video_camera:"],
[data-name=":video_game:"], [aria-label^="video_game"] img, button[data-name="video_game"], img[alt=":video_game:"],
[data-name=":movie_camera:"], [aria-label^="movie_camera"] img, button[data-name="movie_camera"], img[alt=":movie_camera:"],
[data-name=":shallow_pan_of_food:"], [aria-label^="shallow_pan_of_food"] img, button[data-name="shallow_pan_of_food"], img[alt=":shallow_pan_of_food:"],
[data-name=":projector:"], [aria-label^="projector"] img, button[data-name="projector"], img[alt=":projector:"],
[data-name=":electric_plug:"], [aria-label^="electric_plug"] img, button[data-name="electric_plug"], img[alt=":electric_plug:"],
[data-name=":chess_pawn:"], [aria-label^="chess_pawn"] img, button[data-name="chess_pawn"], img[alt=":chess_pawn:"],
[data-name=":eight_pointed_black_star:"], [aria-label^="eight_pointed_black_star"] img, button[data-name="eight_pointed_black_star"], img[alt=":eight_pointed_black_star:"],
[data-name=":heavy_division_sign:"], [aria-label^="heavy_division_sign"] img, button[data-name="heavy_division_sign"], img[alt=":heavy_division_sign:"],
[data-name=":heavy_multiplication_x:"], [aria-label^="heavy_multiplication_x"] img, button[data-name="heavy_multiplication_x"], img[alt=":heavy_multiplication_x:"],
[data-name=":heavy_dollar_sign:"], [aria-label^="heavy_dollar_sign"] img, button[data-name="heavy_dollar_sign"], img[alt=":heavy_dollar_sign:"],
[data-name=":currency_exchange:"], [aria-label^="currency_exchange"] img, button[data-name="currency_exchange"], img[alt=":currency_exchange:"],
[data-name=":wavy_dash:"], [aria-label^="wavy_dash"] img, button[data-name="wavy_dash"], img[alt=":wavy_dash:"],
[data-name=":curly_loop:"], [aria-label^="curly_loop"] img, button[data-name="curly_loop"], img[alt=":curly_loop:"],
[data-name=":end:"], [aria-label^="end"] img, button[data-name="end"], img[alt=":end:"],
[data-name=":back:"], [aria-label^="back"] img, button[data-name="back"], img[alt=":back:"],
[data-name=":on:"], [aria-label^="on"] img, button[data-name="on"], img[alt=":on:"],
[data-name=":top:"], [aria-label^="top"] img, button[data-name="top"], img[alt=":top:"],
[data-name=":soon:"], [aria-label^="soon"] img, button[data-name="soon"], img[alt=":soon:"],
[data-name=":heavy_check_mark:"], [aria-label^="heavy_check_mark"] img, button[data-name="heavy_check_mark"], img[alt=":heavy_check_mark:"],
[data-name=":black_circle:"], [aria-label^="black_circle"] img, button[data-name="black_circle"], img[alt=":black_circle:"],
[data-name=":black_small_square:"], [aria-label^="black_small_square"] img, button[data-name="black_small_square"], img[alt=":black_small_square:"],
[data-name=":black_medium_small_square:"], [aria-label^="black_medium_small_square"] img, button[data-name="black_medium_small_square"], img[alt=":black_medium_small_square:"],
[data-name=":black_medium_square:"], [aria-label^="black_medium_square"] img, button[data-name="black_medium_square"], img[alt=":black_medium_square:"],
[data-name=":black_large_square:"], [aria-label^="black_large_square"] img, button[data-name="black_large_square"], img[alt=":black_large_square:"],
[data-name=":spades:"], [aria-label^="spades"] img, button[data-name="spades"], img[alt=":spades:"],
[data-name=":clubs:"], [aria-label^="clubs"] img, button[data-name="clubs"], img[alt=":clubs:"],
[data-name=":black_heart:"], [aria-label^="black_heart"] img, button[data-name="black_heart"], img[alt=":black_heart:"],
[data-name=":bomb:"], [aria-label^="bomb"] img, button[data-name="bomb"], img[alt=":bomb:"],
[data-name=":mortar_board:"], [aria-label^="mortar_board"] img, button[data-name="mortar_board"], img[alt=":mortar_board:"],
[data-name=":dark_sunglasses:"], [aria-label^="dark_sunglasses"] img, button[data-name="dark_sunglasses"], img[alt=":dark_sunglasses:"],
[data-name=":water_buffalo:"], [aria-label^="water_buffalo"] img, button[data-name="water_buffalo"], img[alt=":water_buffalo:"],
[data-name=":musical_score:"], [aria-label^="musical_score"] img, button[data-name="musical_score"], img[alt=":musical_score:"],
[data-name=":stethoscope:"], [aria-label^="stethoscope"] img, button[data-name="stethoscope"], img[alt=":stethoscope:"],
[data-name~=":key2:"], [aria-label^="key2"] img, button[data-name="key2"], img[alt=":key2:"],
[data-name~=":pen_fountain:"], [aria-label^="pen_fountain"] img, button[data-name="pen_fountain"], img[alt=":pen_fountain:"],
[data-name~=":black_nib:"], [aria-label^="black_nib"] img, button[data-name="black_nib"], img[alt=":black_nib:"],
[data-name~=":flag_black:"], [aria-label^="flag_black"] img, button[data-name="flag_black"],  img[alt=":flag_black:"],
[data-name~=":ninja:"], [aria-label^="ninja"] img, button[data-name="ninja"], img[alt=":ninja:"],
[data-name~=":tophat:"], [aria-label^="tophat"] img, button[data-name="tophat"], img[alt=":tophat:"],
[data-name~=":turkey:"], [aria-label^="turkey"] img, button[data-name="turkey"],  img[alt=":turkey:"],
[data-name~=":bowling:"], [aria-label^="bowling"] img, button[data-name="bowling"], img[alt=":bowling:"],
[data-name~=":joystick:"], [aria-label^="joystick"] img, button[data-name="joystick"], img[alt=":joystick:"],
[data-name~=":floppy_disk:"], [aria-label^="floppy_disk"] img, button[data-name="floppy_disk"],  img[alt=":floppy_disk:"],
[data-name~=":vhs:"], [aria-label^="vhs"] img, button[data-name="vhs"], img[alt=":vhs:"],
[data-name~=":camera:"], [aria-label^="camera"] img, button[data-name="camera"], img[alt=":camera:"],
[data-name~=":camera_with_flash:"], [aria-label^="camera_with_flash"] img, button[data-name="camera_with_flash"], img[alt=":camera_with_flash:"],
[data-name~=":pager:"], [aria-label^="pager"] img, button[data-name="pager"], img[alt=":pager:"],
[data-name~=":tv:"], [aria-label^="tv"] img, button[data-name="tv"], img[alt=":tv:"],
[data-name~=":radio:"], [aria-label^="radio"] img, button[data-name="radio"], img[alt=":radio:"],
/* generic selector for dark stuff, the i makes it case-insensitive */
/* when something has "dark" and "white", its likely a white logo meant for darkmode, no need to glow */
:is([data-name*="dark" i], [aria-label*="dark" i] img, img[alt*="dark" i]):not(:is([data-name*="white" i], [aria-label*="white" i] img, img[alt*="white" i])),
[data-name*="black" i], [aria-label*="black" i] img, img[alt*="black" i],
[data-name*="grey" i], [aria-label*="grey" i] img, img[alt*="grey" i]
[data-name*="gray" i], [aria-label*="gray" i] img, img[alt*="gray" i]
{
  filter: var(--outline-dark-emojis);
}

/* don't glow selected emoji in the emoji picker */
button[class^="emojiItem_"][class*="emojiItemSelected__"],
button[class^="emojiItem_"][class*="emojiItemSelected__"] img {
  filter: none;
}
