/**
 * @name Outline Dark Emojis
 * @author asportnoy#6969 && GreenMan36
 * @authorLink https://github.com/asportnoy
 * @version 11.12.23a
 * @description A small snippet that makes dark emojis have a outline for visibility. ALL credits to @asportnoy#6969. I, GreenMan36#0633 made small edits and additions to the snippet.
*/

:root {
  --outline-dark-emojis: var(
    --outline-de-3
  ); /* range is 0-9, or set a custom css filter.*/
}

:root {
  --outline-de-0: drop-shadow(0px 0px 0.5px white) drop-shadow(0px 0px 1px grey);
  --outline-de-1: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 0.5px grey);
  --outline-de-2: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px grey);
  --outline-de-3: drop-shadow(0px 0px 1.5px white)
    drop-shadow(0px 0px 0.5px grey);
  --outline-de-4: drop-shadow(0px 0px 1.5px white)
    drop-shadow(0px 0px 1.5px grey);
  --outline-de-5: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 1px grey);
  --outline-de-6: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 1.5px grey);
  --outline-de-7: drop-shadow(0px 0px 2.5px white)
    drop-shadow(0px 0px 1.5px grey);
  --outline-de-8: drop-shadow(0px 0px 2.5px white) drop-shadow(0px 0px 2px grey);
  --outline-de-9: drop-shadow(0px 0px 3px white) drop-shadow(0px 0px 1.5px grey);
}

/* fixes glow cutoff at message edges, looks weird */
div[class*="messageContent__"]:has(span[class*="emojiContainer__"]) {
  overflow: visible;
}

img:is([data-name^=tm], [data-name^=copyright], [data-name^=registered]) div, 
img[src="/assets/ef166777e2f79997d529055dc66f0ab7.svg"], img[data-name~=":pen_ballpoint:"],
img[src="/assets/2faf0368f5faf385b807cb7b8b36a7b8.svg"], img[data-name~=":file_cabinet:"],
img[src="/assets/ba3e449f17cf9e91e2f52a0dcb65b4cc.svg"], img[data-name~=":notebook:"],  
img[src="/assets/e6bbd7e1a762e2e20cee7ae28d29a6f3.svg"], img[data-name~=":magic_wand:"],  
img[src="/assets/0542c8e0343df05c3d32b8694aec066a.svg"], img[data-name~=":hole:"],  
img[src="/assets/ff8c49a85b7fbda0110c66353a9db71e.svg"], img[data-name~=":watch:"],  
img[src="/assets/3547c9b25b1b9a1da8c06100fc4da900.svg"], img[data-name~=":mobile_phone:"],  
img[src="/assets/14b8317fd0cf1f8d1e8a89de6c841c76.svg"], img[data-name~=":calling:"],  
img[src="/assets/48fa2b2a410d7be930d2c4708afaabcf.svg"], img[data-name~=":wheel:"],  
img[src="/assets/442dd1525062b91820d91cf99dd645e5.svg"], img[data-name~=":bike:"],  
img[src="/assets/5f99f7506e0a777509a134a0692b1396.svg"], img[data-name~=":manual_wheelchair:"],  
img[src="/assets/b5a892d37d598e0e73dce83212ad8512.svg"], img[data-name~=":headphones:"],  
img[src="/assets/1a681bfe61f09a5f527efb25cbbd1a37.svg"], img[data-name~=":microphone:"],  
img[src="/assets/376bdd3ac92afd53169e8faecf624110.svg"], img[data-name~=":soccer:"],  
img[src="/assets/0cfd4882c0646d504900c90166d80cf8.svg"], img[data-name~=":8ball:"],  /* outlier, this one breaks without being quoted */
img[src="/assets/e8b3b5a31c0a3c541960bd3ddccc538f.svg"], img[data-name~=":gorilla:"],  
img[src="/assets/d5b1663a1a49a2471ab3bce9f98bfc27.svg"], img[data-name~=":lady_beetle:"],  
img[src="/assets/ba4d132b61d61e957465db5d29e61e7d.svg"], img[data-name~=":fly:"], 
img[src="/assets/4b68db498853957de56d6e5d7cb89ccf.svg"], img[data-name~=":mosquito:"],  
img[src="/assets/66421caf19743280c076da2fca8932a3.svg"], img[data-name~=":bee:"],  
img[src="/assets/39795e861142747cedd93bf1ead76c9d.svg"], img[data-name~=":eyeglasses:"],
img[src="/assets/a2bcfe4eee2242c2f9724d2cfdf6c45b.svg"], img[data-name~=":kaaba:"],
img[src="/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg"], img[data-name~=":checkered_flag:"],
img[src="/assets/b839169ecf4b7b147129f96e369e055a.svg"], img[data-name~=":man_dancing:"],  
img[src="/assets/c74f1755041b1db171f32a6340a2f1ad.svg"], img[data-name~=":people_with_bunny_ears_partying:"],  
img[src="/assets/ca99e78cbd0b60e254f50543063803b4.svg"], img[data-name~=":women_with_bunny_ears_partying:"],  
img[src="/assets/f332ef3d172d77d4c641eb65a49bc4a8.svg"], img[data-name~=":student:"],  
img[src="/assets/822f669dcf1896f482b5191ad465d7bf.svg"], img[data-name~=":man_student:"],  
img[src="/assets/9046ad65adaa1e8a152e62e4790550ab.svg"], img[data-name~=":woman_student:"],  
img[src="/assets/09e7fe5dff0fb3c974363e259d09dca3.svg"], img[data-name~=":guard:"],  
img[src="/assets/f7b0146ff19142d68fbed5fef22dcd7e.svg"], img[data-name~=":man_guard:"],  
img[src="/assets/d05572fcb9e9ada684f4ef5446e0092f.svg"], img[data-name~=":woman_guard:"], 
img[src="/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg"], img[data-name~=":pirate_flag:"], 
img[src="/assets/9a43e631d506ae4818ecefc825dc02ad.svg"], img[data-name~=":heavy_plus_sign:"], 
img[src="/assets/13c8662cff8e029799a35878b56e23eb.svg"], img[data-name~=":heavy_minus_sign:"], 
img[src="/assets/e37bc714ecd911af7c558f5aaa0c4464.svg"], img[data-name~=":ant:"], 
img[src="/assets/d6e12f410c99374f88879450daaaced9.svg"], img[data-name~=":spider:"], 
img[src="/assets/a784784c984905c2a74507d57aa3523e.svg"], img[data-name~=":black_cat:"], 
img[src="/assets/f34c63197816c3e60bea4a9537c5fffa.svg"], img[data-name~=":telephone_receiver:"], 
img[src="/assets/05a1abc6388a96e2a536650433c12fca.svg"], img[data-name~=":video_camera:"], 
img[src="/assets/f1426431eb7c60fb8c072f90acb07ceb.svg"], img[data-name~=":video_game:"], 
img[src="/assets/733a0db94b390b2fd5da87408285a079.svg"], img[data-name~=":movie_camera:"], 
img[src="/assets/7f1f04d2c3986363c03750206bf7d9d7.svg"], img[data-name~=":shallow_pan_of_food:"], 
img[src="/assets/654212b1a4cdf391b4a8bb37faf7d18c.svg"], img[data-name~=":projector:"], 
img[src="/assets/16520d89e684777eedd536346015e71f.svg"], img[data-name~=":electric_plug:"], 
img[src="/assets/22bbea32f8826e963038329aee825bc1.svg"], img[data-name~=":chess_pawn:"], 
img[src="/assets/1d2dc7d83ed3182e3348d4f216c15c87.svg"], img[data-name~=":eight_pointed_black_star:"], 
img[src="/assets/3d663bbe9d97bc976c24ec4d125fe2b3.svg"], img[data-name~=":heavy_division_sign:"], 
img[src="/assets/133b77ff9fc321682fed3cde12d6355c.svg"], img[data-name~=":heavy_multiplication_x:"], 
img[src="/assets/1679bb713b6a99e6ddf111d45400be3a.svg"], img[data-name~=":heavy_dollar_sign:"], 
img[src="/assets/da56d5c7e4409c0c1640ff6ba21ec1ad.svg"], img[data-name~=":currency_exchange:"], 
img[src="/assets/502afa9807a8da920a357e25c14da10a.svg"], img[data-name~=":wavy_dash:"], 
img[src="/assets/48c9c24b660f8c392a56f8d28c86f1c3.svg"], img[data-name~=":curly_loop:"], 
img[src="/assets/6a86f8cca40da89386aa7e9eca926da7.svg"], img[data-name~=":end:"], 
img[src="/assets/6c928e43c553124e23e45c31c6ddbece.svg"], img[data-name~=":back:"], 
img[src="/assets/b8b439115436db0c0bbff081749a1ddb.svg"], img[data-name~=":on:"], 
img[src="/assets/fa259978fede6539d40db4b59a2b0f66.svg"], img[data-name~=":top:"], 
img[src="/assets/b3f45308df051ef73d8cf63ffe0976c3.svg"], img[data-name~=":soon:"], 
img[src="/assets/7b3ff12d16d96ca77345da9450986dc7.svg"], img[data-name~=":heavy_check_mark:"], 
img[src="/assets/6278365424fa5701d3b185e2d9fe8225.svg"], img[data-name~=":black_circle:"], 
img[src="/assets/60c5854fe77ca7a4946b7c801c559f4a.svg"], img[data-name~=":black_small_square:"], 
img[src="/assets/7d4f02f7354aee0b30e7e5a35579fff4.svg"], img[data-name~=":black_medium_small_square:"], 
img[src="/assets/b6a3073e1281d1ef79d48ef130c183b2.svg"], img[data-name~=":black_medium_square:"], 
img[src="/assets/d0e23cdf2386056cc64e775a6248ed17.svg"], img[data-name~=":black_large_square:"], 
img[src="/assets/3fe9fcacdbee990bd0d873135689bd5b.svg"], img[data-name~=":spades:"], 
img[src="/assets/b67a375a6b8f5caeacff463835c44011.svg"], img[data-name~=":clubs:"], 
img[src="/assets/d91cb297561a6bc50f8c6918d428bc61.svg"], img[data-name~=":black_heart:"], 
img[src="/assets/31ef50db484eb3d4b2fbebb4e91a0764.svg"], img[data-name~=":bomb:"], 
img[src="/assets/31123922fb35c46cb2f8daa1cf4899a5.svg"], img[data-name~=":tophat:"], 
img[src="/assets/89641ebba191be23dc9a725ae84007ca.svg"], img[data-name~=":mortar_board:"], 
img[src="/assets/7d15a79b1f1d1a18e9fc874a084c6d6c.svg"], img[data-name~=":dark_sunglasses:"], 
img[src="/assets/06abe2c5f92d0dfc5d66446cb4e1e83b.svg"], img[data-name~=":water_buffalo:"], 
img[src="/assets/7366fdb7c5d9143057318249297a13bc.svg"], img[data-name~=":bowling:"], 
img[src="/assets/0e7fc4b6265bd336e8fe4dca75417ee7.svg"], img[data-name~=":musical_score:"], 
img[src="/assets/d4b1476ff922b0ef6ac41ea825cf2705.svg"], img[data-name~=":stethoscope:"], 
img[src="/assets/0542c8e0343df05c3d32b8694aec066a.svg"], img[data-name~=":hole:"], 
img[src="/assets/e14bea9653868307f4d1e70fa17e2535.svg"], img[data-name~=":key2:"], 
img[src="/assets/5d831ad22096d754a2d4961374aa9f7a.svg"], img[data-name~=":pen_fountain:"], 
img[src="/assets/3fe596b04c5915b21f6cc16a1f50ceab.svg"], img[data-name~=":black_nib:"], 
img[src="/assets/53d700db9e5fbb461663685b813156df.svg"], img[data-name~=":flag_black:"], 
img[src="/assets/b5f4153866352d28e665cff0c44f36c0.svg"], img[data-name~=":ninja:"], 
img[src="/assets/31123922fb35c46cb2f8daa1cf4899a5.svg"], img[data-name~=":tophat:"], 
img[src="/assets/618ca8489ae1ab5f94fde2e3a7fb2c0c.svg"], img[data-name~=":turkey:"], 
img[src="/assets/7366fdb7c5d9143057318249297a13bc.svg"], img[data-name~=":bowling:"], 
img[src="/assets/d5b6040243084dc53e2baa2acf9af348.svg"], img[data-name~=":joystick:"], 
img[src="/assets/435f9f150f67f68ca9e254d80a38f33c.svg"], img[data-name~=":floppy_disk:"], 
img[src="/assets/d5818f5fa376321c8bef87324c160ed8.svg"], img[data-name~=":vhs:"], 
img[src="/assets/6c895a6898d73cc30959ac78c67c2ddf.svg"], img[data-name~=":camera:"], 
img[src="/assets/0c57febf44dbbb019c6fd75b05837495.svg"], img[data-name~=":camera_with_flash:"], 
img[src="/assets/cbf0c56a2f3c861877b0de6f7fe8c24f.svg"], img[data-name~=":pager:"], 
img[src="/assets/3a36caf1fd1fce61581d2250b8459314.svg"], img[data-name~=":tv:"], 
img[src="/assets/a9e13a28157a6568d203df8fcf754230.svg"], img[data-name~=":radio:"], 
img[src="/assets/41e47bdc538a48f4ecdde53dc73e4e9b.svg"], img[data-name~=":black_square_img:"] div {
  filter: var(--outline-dark-emojis);
}
