/**
 * @name Greens SquareCord
 * @author GreenMan36#0633
 * @authorLink https://github.com/GreenMan36
 * @version 26.03.23a
 * @description This theme makes the Discord client look squared AF.
*/

@import url(https://greenman36.github.io/files/discord-mods/themes/snippets/april-fools.css); /* april fools ;): can be undone with `@import url(https://greenman36.github.io/files/discord-mods/themes/snippets/undo-april-fools.css` in your custom CSS*/

:root {
    --squared-green: hsl(145.38,65%,39.22%);
    --squared-yellow: hsl(40.42,86.36%,56.86%);
    --squared-red: hsl(358.66,87.32%,59.8%);
    --squared-grey: hsl(226.15,5.49%,53.53%);
    --squared-border-width: 3px;
    --squared-real-border-width: clamp(1px, var(--squared-border-width), 16px);
}

.wrapper-3Un6-K svg foreignobject,
.avatarUploader-CHGwK7 {
    border: var(--squared-real-border-width) solid transparent;
    mask: none;
    transform: scale(1.1);
}

[aria-label*=", Online"] svg foreignobject,
.avatarUploader-CHGwK7:has(div svg rect[fill="hsl(145.38,65%,39.22%)"]){
   border: var(--squared-real-border-width) solid var(--squared-green);
}

[aria-label*=", Idle"] svg foreignobject,
.avatarUploader-CHGwK7:has(div svg rect[fill="hsl(40.42,86.36%,56.86%)"]){
   border: var(--squared-real-border-width) solid var(--squared-yellow);
}

[aria-label*=", Do Not Disturb"] svg foreignobject,
.avatarUploader-CHGwK7:has(div svg rect[fill="hsl(358.66,87.32%,59.8%)"]){
   border: var(--squared-real-border-width) solid var(--squared-red);
}

:is([aria-label*=", Invisible"], [aria-label*=", Offline"]) svg foreignobject,
.avatarUploader-CHGwK7:has(div svg rect[fill="hsl(226.15,5.49%,53.53%)"]){
   border: var(--squared-real-border-width) solid var(--squared-grey);
}

:is(
    [aria-label*=", Online"],
    [aria-label*=", Idle"],
    [aria-label*=", Do Not Disturb"],
    [aria-label*=", Invisible"],
    [aria-label*=", Offline"]
   ) svg :is(rect, mask, circle),
.status-b9jLr4,
.blobContainer-ikKyFs .svg-2ifYOU mask,
.bannerSVGWrapper-qc0szY mask {
    display: none;
}

* {
    border-radius: 0 !important;
}

/* call controlls and more */
:is(.wrapper-2PSQCG, .controlButton-2PMNom) svg foreignobject {
    mask:none;
}

/* avatar view profile */
.avatarHint-2g3Mcd {
   overflow: visible;
}
.avatarWrapper-3y0KZ1 svg foreignObject:has(.avatarHintInner-3gk_Yx) {
    mask: none;
    transform: scale(1.1);
}

/* settings switch button */
.slider-HJFN2i rect {
   rx: 0;
}

/* radio buttons will take more work and I won't because a box indicates a checkbox, not a radio button */