/*
If in darkmode, load darkmode.css
Else load lightmode.css
*/

.darkmode {
  --greenlight: hsl(120, 100%, 50%);
  --background-color: #151515;
  --card-color: #1a1a1a;
  --header-color: #ffffff;
  --text-color: hsl(0, 0%, 80%);
  color-scheme: dark;
}

.lightmode {
  --greenlight: hsl(120, 80%, 40%);
  --background-color: #ffffff;
  --card-color: #f0f0f0;
  --header-color: #000000;
  --text-color: hsl(0, 0%, 20%);
  color-scheme: light;
}

.snowmode {
  --greenlight: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
  --background-color: linear-gradient(0deg, #ffffff 8px, hsl(0, 0%, 5%) 32px, hsl(240, 10%, 8%) 100%);
  /* make the bottom 16px be snow white */
  --card-color: linear-gradient(0deg, #ffffff 4px, rgb(28, 28, 28) 16px, rgb(28, 28, 34) 100%);
  --header-color: #ffffff;
  --text-color: hsla(0, 0%, 100%, 60%);
  color-scheme: dark;
}

.highcontrast {
  --greenlight: hsl(120, 100%, 50%);
  --background-color: rgb(128, 128, 128);
  --card-color: #000000;
  --header-color: #ffffff;
  --text-color: #ffffff;
  color-scheme: dark;
}

#themeswitcher {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

#themeswitcher > label {
  padding: 1em .5em;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  font: 1em sans-serif;
  background: var(--background-color);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > div {
  width: clamp(90%, 90%, 900px);
  max-width: 900px;
}

div {
  background: var(--card-color);
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

div.clear {
  background: none;
  padding: 0;
  margin: 0;
}

div.flex {
  display: flex;
  flex-wrap: wrap;
}

div.flex > div {
  flex: 1 1 400px;
}


h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

p, li, ul, label {
  color: var(--text-color);
}

a {
  color: var(--greenlight);
}

textarea {
  background: var(--card-color);
  color: var(--text-color);
  border: 1px solid transparent;
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
  min-height: 5em;
  min-height: max-content;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

/* only set border if the textarea is focused */
textarea:focus {
  outline: 2px solid var(--greenlight);
}